html, body {
	padding: 0;
	margin: 0;
	background-color: white;
	width: 100%;
	/* height: 100%; */
	font-family: 'Roboto', sans-serif;
}

h1, h2 {
	padding: 10px 10px 5px 10px;
	margin: 0;
	font-size: 14px;
	font-weight: 700;
}

p {
	padding: 0px 10px 5px 10px;
	margin: 0;
	font-size: 13px;
	letter-spacing: .2px;
	font-weight: 300;
	white-space: pre-wrap;
	word-wrap: break-word;
}

pre {
	padding: 0px 10px 5px 10px;
	margin: 0;
	font-size: 13px;
	letter-spacing: .2px;
	font-weight: 300;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-family: 'Roboto', sans-serif;
}

.addBtn{
	color: rgba(61, 61, 61);
	position: fixed;
	right: 5px;
	bottom: 5px;
	font-size: 40px;
}

.addBtn:hover{
	color: rgb(100, 100, 100);
}

.middleContainer {
	display:flex;
	justify-content: flex-end;
	flex-flow: row; 
	padding-top: 10px;
}

.bottomContainer{
	display:flex;
	justify-content: flex-end;
	flex-flow: row; 
}

.userTxt{
	font-size: 11px;
	color: rgba(0, 0, 0, 0.5);
	text-align: right;
	user-select: none;
	pointer-events: none;
}

.iconBtn{
	font-size: 18px;
	color: rgba(0, 0, 0, 0.2);
	padding: 0px 5px 5px 0px;
	user-select: none;
}

.iconBtn:hover {
	color: rgba(0, 0, 0, 0.75);
}

.focus {
	color: blue;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

a {
	user-select:auto;
	cursor: pointer;
	pointer-events:auto;
	
}





