/* Add your amazing style here! */
.roomsContainer{
	width: 100%;
	/* height: 100%; */
	/* overflow-y: auto; */
	/* overflow: scroll; */
	margin-top: 10px;
}

.roomsView_bottom{
	height: 30px;
	text-align: center;
	font-size: 10px;
	color: gray;
	padding-top: 15px;
}