/* Add your amazing style here! */
.addRoomContainer{
	position: fixed;
	bottom: 0px;
	background-color: beige;
	height: 100px;
	width: 100%;
}

.colorBtn {
	outline: none;
	border:none;
	margin-right: 2px;
	border-radius: 7px;
	width: 10px;
	height: 15px;
}