/* Add your amazing style here! */
.roomContainer{
	height: auto;
	min-height: 50px;
	background-color:#ccff90;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}
