.userContainer{
	width: auto;
	height: auto;
	background-color:#cfd8dc;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 5px;	
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}

.markAsSelected{
	background-color:lightgoldenrodyellow;
}