.userContainer{
	width: auto;
	height: auto;
	background-color:#cfd8dc;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 5px;	
}

.markAsSelected{
	background-color:lightgoldenrodyellow;
}